

  .footer{
    
  bottom: 0;
background-color: black;
color: white;
  display: flex;
justify-content: center;
  padding-top: 40px;
  padding-bottom: 8px;
  min-height:fit-content;
}
  .copyright
{


    background-color: black;
    color: white;
        display: flex;
     justify-content: center;
     padding-bottom: 25px;
 
     
        
    

}
.footer footer{
  padding-right: 50px;
}

