<body *ngIf="getdatabyid!=0">
<div class="row detailsheader">
<div class="col-2 imageheader">
  <h4>IMAGE</h4>
</div>
<div class="col-8 detailsheader"><h4>PRODUCT DETAILS</h4></div>
<div class="col-2 detailsheader"><h4 class="btn btn-warning">Grand total:{{ gettotal }} ₹</h4></div>

</div>
<div class="detailsheader">
  <app-payment [gettaotalvaluecount]="getdatabyid.length" (eventclick)="handleclickevent($event)"></app-payment>
  
 
 </div>
 

  <!-- <div class="productlength">

  </div> -->
  <div class="row">
    <div class="col-12"></div>
    <div class="row">
      <div *ngFor="let cartdetail of getdatabyid" class="col-12 cartdetails shadow">
        <div class="row">
          <div class="col-3">
            <img src="{{ cartdetail.image }}" alt="" />
          </div>

          <div class="col-7 product-details">
            <h4>₹{{ cartdetail.price }}</h4>
            <h4
              style="
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
max-width: 100ch;
"
            >
              {{ cartdetail.title | uppercase }}
            </h4>
            <h4
              style="
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 500ch;
              "
            >
              {{ cartdetail.description }}
            </h4>

            <h4>Category:{{ cartdetail.category |uppercase}}</h4>
            <div class="rating">
            <ngx-stars style="color: gold !important;" class="rating-star" [readonly]="true" [maxStars]="5" [initialStars]="cartdetail.rate"></ngx-stars> 
            <p>{{ cartdetail.rate }}</p>
          </div>
            <h4>People Brought: {{ cartdetail.count }}</h4>
          </div>
          <div class="col-2 deleteclass">
            <fa-icon
              class="faicon"
              (click)="deletecartbyid(cartdetail.id)"
              [icon]="faTrash"
            ></fa-icon>
          </div>
        </div>
      </div>

    
    </div>
  </div>

  <div class="orderinfo"> 
    <div class="order">    <h5 class="btn btn-success">TOTAL ITEMS IN THE CART: {{getdatabyid.length}}</h5></div>

    <div class="order">
      <button class="btn btn-secondary" (click)="gotoproductpage()">PRODUCT PAGE</button>
    </div>
    <div class="order">
      <button  class="btn btn-danger" (click)=" deletecartall()">DELETE ALL</button>
      
     
     </div>
     <!-- <div class="order">
      <button  class="btn btn-danger" (click)=" additemsorder()">add orders</button>
      
     
     </div> -->
<!-- <div class="order">
 <app-payment [gettaotalvaluecount]="getdatabyid.length" (eventclick)="handleclickevent($event)"></app-payment>
 

</div> -->

 

</div>

</body>

<body class="ifcartemptybody" *ngIf="getdatabyid==0">
  <div class="ifcartempty">
<img class="empty-image" src="../../assets/images/empty-cart.png" alt="empty cart">
<h5>Your cart is empty</h5>
<button class="btn btn-primary"   (click)="gotoproductpage()">ADD TO CART</button>


</div>
</body>


