body{
    padding-bottom: 10%;
        background-size: 400% 400%;
        height: 100%;
      margin: 0;
      min-height: calc(100vh - 50px);
      background-color: #F3F2EE;
    
    }

    label{
        font-weight: bold;
    padding: 5px;
    }
    form{
        margin: 0;
    }
    html,body{
        background-color: #F3F2EE;   
        padding-bottom: 10%;
        background-size: 400% 400%;
        
    }
    .main-fill{
        background-color: white;
        padding-right: 20px;
        padding-left: 20px;
    }
    h3,h4{
        text-align: center;
        padding: 10px;
        font-family:cursive;
        border-radius: 5px;
    }
    .btn{
        margin-top: 10px;
    }